<VirtualHost *:80>
  ServerName %host%.local
  ServerAlias %host%.dev
  DocumentRoot "/home/%user%/www/%dir%/web"
  DirectoryIndex index.php app.php index.html
  
  ErrorLog  /home/%user%/www/log/%dir%.error.apache.log
  CustomLog /home/%user%/www/log/%dir%.custom.apache.log combined

  #configuration for fcgid +suexec (deprecated)
  #Alias /fcgi-bin/ /home/www-data/%user%/fcgi-bin/
  #SuexecUserGroup %user% %group%

  # override some config in /etc/apache2/conf.d/php5-fpm.conf to use a different php fpm pool %pool%
  <IfModule mod_fastcgi.c>
     # add an Alias to the fcgi location
     Alias /fcgi-bin/php5.external /php5.external.%host%
     #bind cgi server to php5 fpm socket
     FastCgiExternalServer /php5.external.%host% -socket /var/run/php5-fpm.%pool%.sock -pass-header Authorization
  </IfModule>

  <Directory "/home/%user%/www/%dir%/web">
    AllowOverride All
    Order allow,deny
    Allow from All
  </Directory>
  
</VirtualHost>
