
[submodule "roles/account"]
	path = roles/account
	url = https://github.com/csanquer/ansible-role-account.git
[submodule "roles/aws"]
	path = roles/aws
	url = https://github.com/csanquer/ansible-role-aws.git
[submodule "roles/dnsmasq"]
	path = roles/dnsmasq
	url = https://github.com/csanquer/ansible-role-dnsmasq.git
[submodule "roles/docker"]
	path = roles/docker
	url = https://github.com/csanquer/ansible-role-docker.git
[submodule "roles/locales"]
	path = roles/locales
	url = https://github.com/csanquer/ansible-role-locales.git
[submodule "roles/network"]
	path = roles/network
	url = https://github.com/csanquer/ansible-role-network.git
[submodule "roles/nfs"]
	path = roles/nfs
	url = https://github.com/csanquer/ansible-role-nfs.git
[submodule "roles/packages"]
	path = roles/packages
	url = https://github.com/csanquer/ansible-role-packages.git
[submodule "roles/packer"]
	path = roles/packer
	url = https://github.com/csanquer/ansible-role-packer.git
[submodule "roles/python"]
	path = roles/python
	url = https://github.com/csanquer/ansible-role-python.git
[submodule "roles/samba"]
	path = roles/samba
	url = https://github.com/csanquer/ansible-role-samba.git
[submodule "roles/sshd"]
	path = roles/sshd
	url = https://github.com/csanquer/ansible-role-sshd.git
[submodule "roles/terraform"]
	path = roles/terraform
	url = https://github.com/csanquer/ansible-role-terraform.git
[submodule "roles/atom"]
	path = roles/atom
	url = https://github.com/csanquer/ansible-role-atom.git
[submodule "roles/oh-my-zsh"]
	path = roles/oh-my-zsh
	url = https://github.com/csanquer/ansible-role-oh-my-zsh.git
[submodule "roles/vagrant"]
	path = roles/vagrant
	url = https://github.com/csanquer/ansible-role-vagrant.git
[submodule "roles/kubectl"]
	path = roles/kubectl
	url = https://github.com/csanquer/ansible-role-kubectl.git
[submodule "roles/kops"]
	path = roles/kops
	url = https://github.com/csanquer/ansible-role-kops.git
[submodule "roles/kvm"]
	path = roles/kvm
	url = https://github.com/csanquer/ansible-role-kvm.git
[submodule "roles/helm"]
	path = roles/helm
	url = https://github.com/csanquer/ansible-role-helm.git
[submodule "roles/minikube"]
	path = roles/minikube
	url = https://github.com/csanquer/ansible-role-minikube.git
