[user]
    name = 
    email = 
[color]
    ui = true
    status = true
    diff = true
    branch = true
    interactive = true
    pager = true
[core]
    excludesfile = ~/.gitignore
    autocrlf = input
    editor = vim
[alias]
# shortcuts
    cl = clone
    co = checkout
    br = branch
    ci = commit
    cim = commit -m
    cia = commit -a
    ciam = commit -am
    st = status
    fc = fetch
    mg = merge
    rb = rebase
    rs = reset
    rv = revert
    pl = pull
    ps = push
    sh = show --color-words
    df = diff
    hp = help
# a common task !!
    psom = push origin master
# diff and log helpers
    staged = diff --cached
    dfc = diff --cached
    lg = log --graph
    lgp = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset%s %C(blue)(%an)%Creset %Cgreen(%cd - %cr)%Creset' --abbrev-commit --date=local
    last = log -1 HEAD
    tip = log -n 1 --abbrev-commit --decorate
# sudmodules management
    subupdate = submodule update --init --recursive
    subup = submodule update --init --recursive
    cloner = clone --recursive
    clr = clone --recursive
# add file to gitignore
    ignore = "!echo >> $GIT_PREFIX/.gitignore"
# amend last not pushed commit 
    fix = commit --amend
    amend = commit --amend
# remove files from staging area (files to be committed) 
    unstage = reset HEAD --
    us = reset HEAD --
# discard changes (modified files but not to be committed) 
    unmodify = checkout --
    undo = checkout --
    discard = checkout --
    ds = checkout --
    un = checkout --
    um = checkout --
# git remove manually deleted files
    rd  = !git ls-files -z --deleted | xargs -0 git rm
    cf = cat-file -p
    # git 1.7 :  git upstream local_branch remote/branch
    #upstream = branch --set-upstream
    # git 1.8 : git upstream remote/branch local_branch
    upstream = branch -u
    pushtrack = push -u 
[push]
	default = matching
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[mergetool "meld3"]
        cmd = $HOME/bin/meld3 $BASE $LOCAL $REMOTE $MERGED

